/* nav: link active -> สีเข้มขึ้นกว่าอันอื่น */
.nav-links a.active {
  color: #000000;
}

/* Banner */
.banner {
  background-image: url("image/banner-about.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  display: flex;
  justify-content: center;
  /*horizontal*/
  align-items: center;
  /*vertical*/
  text-align: center;
}

.banner-content {
  position: relative;
  z-index: 2;
  color: white;
  transform: translateY(30px);
  animation: fadeInUp 1.2s ease-out forwards;
}

.banner-content h1 {
  font-size: 60px;
  margin: 0;
  animation: zoomIn 1s ease-out forwards;
}

.banner-content p {
  font-size: 18px;
  margin-top: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  animation: fadeInText 1.5s ease-out forwards;
}

/* Animation Keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 40px 100px;
}

.info-content1,
.info-content2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.info-content1 img,
.info-content2 img {
  width: 50%;
}

.info-content1 p,
.info-content2 p {
  width: 500px;
  font-size: 20px;
  color: #666666;
  line-height: 1.5;
}

.info-content1 h2,
.info-content2 h2 {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 30px;

}

.info-content2 {
  flex-direction: row-reverse;
}

/* Team */
.team {
  padding: 40px 100px;
}

.team h2 {
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
  margin-bottom: 32px;
  font-size: 30px;
}

.team-mem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.mem {
  width: 200px;
  text-align: center;
}

.mem img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 16px;
  object-fit: cover;
}

.mem h3,
.mem p {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px;
}

.mem:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}