/* nav: link active -> สีเข้มขึ้นกว่าอันอื่น */
.nav-links a.active {
    color: #000000;
}

/* Event Banner */
.e1 {
    position: relative;
    margin: 20px 50px;
    height: 400px;
    overflow: hidden;
}

.e1 img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.content1 {
    position: absolute;
    top: 0;
    padding: 40px;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    transform: translateY(30px);
    animation: fadeInUp 1.2s ease-out forwards;
}

.content1 h1 {
    font-size: 58px;
    text-align: left;
    animation: zoomIn 1s ease-out forwards;
}

.content1 p {
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
    letter-spacing: 1px;
    animation: fadeInText 1.5s ease-out forwards;
}

/* Details Button */

.details-btn {
    display: inline-block;
    border-radius: 30px;
    background-color: #89C7E7;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 15px;

}

.details-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.details-btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -10px;
    transition: 0.5s;
}

.details-btn:hover span {
    padding-right: 25px;
}

.details-btn:hover span:after {
    opacity: 1;
    right: 0;
}

.content1 i {
    margin-top: 15px;
    font-size: 20px;
}

/* Animation Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Event Block */

.e2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 40px;
}
.block {
    background-color: ghostwhite;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px; width: 300px;
}

.block img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content2{
    padding: 16px;
}

.conetent2 h3{
    margin: 0 0 10px;
}

.e-info{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    flex-wrap: wrap;
}


/* Event Pop up Detail */
.detail {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .detail-content {
    background: #fff;
    width: 500px;
    margin: 5% auto;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }
  
  .close {
    position: absolute;
    top: 20px; right: 25px;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }
  
  .detail-content img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .detail-body {
    padding: 20px;
  }
  
  .detail-body h2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 8px;
  }
  
  .detail-body p {
    margin: 10px 0;
    font-size: 16px;
    color: #6F7378;

  }

  .underline {
    text-decoration: underline;
  }

  .divider{
    border:none;
    border-top: 1.5px solid black;
    margin: 20px 0;
    width: 100%;
  }
  
  .detail-info p {
    margin: 5px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: black;
  }
  
  .get-direction {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    color: #1976d2;
    text-decoration: none;
  }
  
  .join-btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #89C7E7;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px #999;
  }
  
  .join-btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .join-btn:hover {
    background-color: #368fce;
  }
