<<<<<<< HEAD:Frontend/css/style.css
/* nav: link active -> สีเข้มขึ้นกว่าอันอื่น */
.nav-links a.active {
    color: #000000;
  }

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* CSS NAV */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    background-color: #FFF684;
    position: relative;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #666666;
    opacity: 0.7;
    font-weight: bold;
}

.nav-links a:hover {
    color: #6A0DAD;
}

.logo img {
    height: 70px;
    width: auto;
}

.login-btn {
    background-color: #9b99ce;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.login-btn:hover {
    background-color: #bb7ea5;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 60px;
    background-color: #FFF684;
    position: relative;
}

footer h3 {
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.socail-logo {
    height: 40px;
    margin-bottom: 20px;
}

footer p {
    margin-top: 10px;
}

  
  .display-name {
    font-weight: 600;
  }
  
  .profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #6A0DAD;
  }

  .profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    position: relative;
  }
  
  .profile-info:hover {
    color: #6A0DAD;
  }
  
  .profile-dropdown {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    width: 180px;
    z-index: 999;
    flex-direction: column;
  }
  
  .profile-dropdown a {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
  }
  
  .profile-dropdown a:hover {
    background: #f1f1f1;
  }
  
  
=======
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lora;
}

/* CSS NAV */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 60px;
    background-color: #FFF684;
    position: relative;
}

.nav-links {
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #666666;
    opacity: 0.7;
    font-weight: bold;
}

.nav-links a:hover {
    color: #6A0DAD;
}

.logo img {
    height: 70px;
    width: auto;
}

.login-btn {
    background-color: #9b99ce;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.login-btn:hover {
    background-color: #bb7ea5;
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 60px;
    background-color: #FFF684;
    position: relative;
}

footer h3 {
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.socail-logo {
    height: 40px;
    margin-bottom: 20px;
}

footer p {
    margin-top: 10px;
}
>>>>>>> 1b44089496735619a0c89cb0b027c57341045cc5:Frontend/styles.css
